.comic{
    .img_thumb{
        position: absolute;
        top: 400px;
        left: 384px;
    }
    .blue_bar{
        height: 60px;
        background-color: $bg_blue;
    }
    .description{
        margin-top: 4rem;
        width: 60%;
        h2{
            text-transform: uppercase;
            padding-bottom: 1rem;
        }
        .price_avail{
            color: white;
            background-color: rgba(85, 186, 89, 1);
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            .availability{
                display: flex;
                flex: row;
                .available{
                    padding-right: 1rem;
                }
            }
        }
    }
}